@font-face {
    font-family: 'NanumSquare Regular';
    src: url('https://cdn.jsdelivr.net/gh/keysuck/wpfonts@main/NanumSquare-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare Bold';
    src: url('https://cdn.jsdelivr.net/gh/keysuck/wpfonts@main/NanumSquare-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
